.content{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}

#fomr{
    text-align: center;
}

#id_username{
    margin-top: 20px;
    height: 1.5rem;
    width: 250px;
}

#id_password{
    margin-top: 20px;
    height: 1.5rem;
    width: 250px;
}

#form-btn{
    margin: 40px;
    font-size: 20px;
    padding: 3px 50px;
    background-color: #87c944;
    border-radius: 10px;
}

#form-btn:hover{
    background-color: #608f32;
}
